body{
    padding: 2px;
    margin: 0;
   
    background: rgb(14, 14, 14);
      
    border-radius: 12px;
    box-shadow:20px 20px 50px rgba(0, 0, 0, 0.473);
    color: rgb(143, 143, 143);
    text-align: center;
    font: normal 18pt arial;
    

}



ul{
    display: inline-block;
    list-style: none;
    text-align: center;
    
}
#md{
    padding: 0;
    margin: 0;
    display: inline-flex;
    
    width: fit-content;
    text-align: center;
    width: 250px;
}
#media5 ,#media12{
    
    text-align: center;
    width: 80px;
    font: normal 12pt arial;
    
}
#lSolve{
    font: normal 15pt fantasy;
    width: 90px;
}

li{
    list-style-type: none; 
}


img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 4px 4px 15px black;
    
}

select{
    border-radius: 12px;
    text-align: center;
    font: normal 12pt fantasy;
    color: rgb(143, 143, 143);
    border: none;
    text-decoration-style: none;
    box-shadow: 4px 4px 15px black;
    background-color: rgb(23 , 23 , 15);
    text-shadow: 1px 1px 4px black;

}
select:hover{
    
    background: linear-gradient(60deg , rgba(31, 5, 80, 0.253) ,rgba(119, 0, 255, 0.267), rgba(67, 8, 134, 0.247) );
    
    
    background-color: rgb(23 , 23 , 15);
}

span{
    font-size: 12pt;
}

#tempo{
    font-size: 20pt;
    display: block;
    padding: 50px 0 0 0 ;
    font: 50pt;
        
}

section{
    
    margin: 5px 150px 5px 150px;
    background: linear-gradient(45deg , rgba(128, 128, 128, 0) , rgba(61, 61, 61, 0.178));
    border-radius: 20px 0 20px 0;
    box-shadow: 5px 5px 12px #00000077;
    
}


#scramble{
    padding: 10px;
    margin: 0 150px 10px 150px;
    background: linear-gradient(45deg , rgba(128, 128, 128, 0) , rgba(61, 61, 61, 0.178));
    border-radius: 20px 0 20px 0;
    box-shadow: 5px 5px 12px #00000077;
    
}
h1{
    text-shadow:2px 2px 12px rgba(0, 0, 0, 0.5) ;
}

#crono{
    padding: 1px 20px 1px 20px;
    box-shadow: 5px 5px 12px #00000077;
}

#cronometro{
    
    background: linear-gradient(60deg , rgba(31, 5, 80, 0.253) ,rgba(119, 0, 255, 0.267), rgba(67, 8, 134, 0.247) );
    
    
    border-radius: 40px;
    font: normal 12pt arial black;
    
    box-shadow: 5px 5px 12px #00000077;
    text-align: center;

} 
#tempo{
    display: block;
    padding: 45px 0 45px 0 ;
    margin: 20px 20px 20px 20px;
}

#res{
    
    padding: 10px;
    margin: 10px;
    background: linear-gradient(60deg , rgba(31, 5, 80, 0.253) ,rgba(119, 0, 255, 0.267), rgba(67, 8, 134, 0.247) );
    color: #fdfdfdbe;
    text-shadow: 1px 1px 4px rgb(5, 5, 5);
    font: normal 16pt arial;
    
    border-radius: 20px 20px 20px 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.486);
}

::-webkit-scrollbar{
    width: 12px;
    background: linear-gradient(60deg , rgba(31, 5, 80, 0.137) ,rgba(119, 0, 255, 0.11), rgba(67, 8, 134, 0.116) );

}

::-webkit-scrollbar-thumb{
    box-shadow: 1px 1px 20px black;
    border-radius: 12px;
    background: linear-gradient(60deg , rgba(31, 5, 80, 0.253) ,rgba(119, 0, 255, 0.267), rgba(67, 8, 134, 0.247) );
}